In [1]:
import requests
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import pandas as pd

In [2]:
response = requests.get("http://usapl.liftingdatabase.com/competitions-view?id=1649")

html = response.text

In [3]:

events = ["Female - Junior", "Female - Master 1", "Female - Master 2", "Female - Master 3", "Female - Master 4",
         "Female - Open", "Female - Teen 1", "Female - Teen 2", "Female - Teen 3", "Male - Junior", "Male - Master 1",
         "Male - Master 2", "Male - Master 3", "Male - Master 4", "Male - Master 5", "Male - Open", "Male - Teen 1",
         "Male - Teen 2", "Male - Teen 3"] # update this as appropriate
current_event = False

In [4]:
result_records = []


i = 0
for table_row in Selector(text=html).xpath("//table[@id='competition_view_results']/tbody/tr"):
    i += 1
    last_competition_type = table_row.xpath(".//th/text()").extract_first(default="None").strip()

    if last_competition_type.strip() in events: 
        current_event = last_competition_type
    
    row_data = table_row.xpath("./td")
    ("./td[@class='competition_view_club']/text()")
#     row_data = [BeautifulSoup(row.extract()).text for row in row_data]
    
    if len(row_data) > 0:
        name = row_data[2].xpath("./a/text()").extract_first()
        row = row_data.xpath("./text()").extract()
        result_records.append([current_event]+[name]+row)


# Then from here you could probably figure out which columns match to which offsets
df = pd.DataFrame(result_records, dtype='string')
df = df.applymap(lambda value: value.strip() if type(value) == unicode else value)

In [5]:
i, len(result_records)

(281, 259)

In [6]:
df.shape

(259, 19)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Male - Open,Cooper Wage,120+,-,1987,WI,161.98,-435,-435,-450,-340,-340,-350,-280,,,0,0.00,X
1,Female - Junior,Allegra Hudson,-52,1.,1994,TX,47.03,147.5,155,-160,75,80,85,150,160,-167.5,400,537.72,None
2,Female - Junior,Andie Hernandez,-52,2.,1997,TX,51.61,145,152.5,-160,-90,90,95,140,152.5,-157.5,400,501.56,X
3,Female - Junior,Kimberly Johnson,-57,1.,1994,WI,56.03,172.5,182.5,190,115,122.5,130,167.5,180,-190,500,588.05,X
4,Female - Junior,Marisa Lara,-63,1.,1994,VA,62.74,170,180,-185,110,115,-120.5,167.5,177.5,-185,472.5,509.02,None

In [ ]:
//table[@id='competition_view_results']/tbody/tr/